<<<<<<< HEAD

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    padding: 20px;
}

*, ::before, ::after {
=======
* {
>>>>>>> 8a9ccd4e90e406eb906e6141f8361d543e422bf3
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

<<<<<<< HEAD
button,
[type="button"],
[type="reset"],
[type="submit"] {
=======
button {
>>>>>>> 8a9ccd4e90e406eb906e6141f8361d543e422bf3
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    text-align: inherit;
    font: inherit;
    color: inherit;
<<<<<<< HEAD
    line-height: inherit;
    cursor: pointer;
}

nav {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center; 
    padding: 10px;
    background-color: transparent;
    flex-wrap: wrap;
    margin-top: 20px; 
=======
    text-decoration: none;
    text-transform: none;
    line-height: normal;
    overflow: visible;
}

body {
    min-height: 100vh;
    background-color: #9DE0AD;
    color: rgb(7, 45, 182);
    font-size: 1rem;
    font-family: system-ui;
    display: grid;
    grid-template-columns: auto auto;
    place-content: center;
    gap: 20px;
}

.site-header {
    position: fixed;
    top: 0;
    width: 100%;
}

nav {
    --_clr-txt: rgb(255, 255, 255);
    --_clr-txt-svg: rgb(147, 158, 184);
    --_ani-speed: 6s;

    display: flex;
    gap: 1rem;
    font-size: 1.4rem;
    margin-top: 20px;
    padding: 10px 20px;
    justify-content: center;
    width: 100%;
>>>>>>> 8a9ccd4e90e406eb906e6141f8361d543e422bf3
}

nav > button {
    position: relative;
    cursor: pointer;
    aspect-ratio: 1 / 1;
    display: grid;
    place-content: center;
    width: 4rem;
    height: 4rem;
    padding: 0.25rem;
    border-radius: 9999px;
    border: 2px solid rgb(3, 105, 161);
    background-repeat: no-repeat;
    transition: background-size 0.3s ease; /* Smooth transition */
}

<<<<<<< HEAD
nav > button::before {
    content: '';
    position: absolute;
    inset: 0;
    border: 2px solid rgb(3, 105, 161);
    border-radius: 9999px;
    transition: all 0.3s;
    z-index: 10;
}

nav > button:hover::before {
    inset: 35% -0.5rem 35% -0.5rem;
    background-color: rgb(202, 229, 244);
}

nav > button::after {
    content: attr(title);
=======
nav > button > span {
    transition: all 300ms ease-in-out;
    grid-area: stack;
}

nav > button > span:last-of-type {
    margin-top: 0.25rem;
    transform: scale(0);
    transition-delay: 0ms;
    border-radius: 50%;
}

nav > button:focus-visible > span:first-of-type,
nav > button:hover > span:first-of-type {
    transform: scale(0);
}

nav > button:focus-visible > span:last-of-type,
nav > button:hover > span:last-of-type {
    transform: scale(1);
}

nav > button > svg {
>>>>>>> 8a9ccd4e90e406eb906e6141f8361d543e422bf3
    position: absolute;
    inset: 0;
    transition: opacity 0.3s 150ms, translate 0.3s 150ms;
    z-index: 10;
    display: grid;
    place-content: center;
    text-wrap: nowrap; 
    font-size: 0.9rem;
    opacity: 0;
<<<<<<< HEAD
    translate: 0 10px;
    color: inherit;





}

nav > button:hover::after {
    opacity: 1;
    translate: 0;
    font-size: 1.1rem;
    color: rgb(253, 77, 38);



    
}

nav > .home-btn > svg {
    width: 3rem;
    border-radius: 1px;
    color: transparent; /* Change to the desired color for the home icon */
}

nav > .about-btn > svg {
    width: 3rem;
    color: #422622; /* Change to the desired color for the about icon */
}

nav > .services-btn > svg {
    width: 3rem;
    color: #e67e22; /* Change to the desired color for the services icon */
}

nav > .contact-btn > svg {
    width: 3rem;
    color: #c0392b; /* Change to the desired color for the contact icon */
}

nav > .home-btn {
    background-image: url('pumkin.png');
    background-position: center;
    background-size: cover;
    border: 2px solid #3E2723;
}

nav > .about-btn {
    background-image: url('leaf.png');
    background-position: center;
    background-size: cover;
}

nav > .services-btn {
    background-image: url('fire.png');
    background-position: center;
    background-size: cover;
}

nav > .contact-btn {
    background-image: url('bell.png');
    background-position: center;
    background-size: cover;
}

nav > button:hover {
    background-size: 110%;
}

nav > .home-btn:hover {
    background-color: #2980b9;
}

nav > .about-btn:hover {
    background-color: #27ae60;
}

nav > .services-btn:hover {
    background-color: #e67e22;
}

nav > .contact-btn:hover {
    background-color: #c0392b;
}
=======
    text-transform: uppercase;
    transition: all 300ms ease-in-out;
    color: var(--_clr-txt-svg);
}

nav > button:focus-visible > svg,
nav > button:hover > svg {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    transition-delay: 150ms;
}

button svg g {
    transform-origin: center;
    animation: rotate var(--_ani-speed) linear infinite;
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

img {
    --r: 20px;
    --s: 40px;
    --x: 25px;
    --y: 5px;
    width: 200px;
    border-radius: var(--r);
}

.top-right {
    --_m:/calc(2*var(--r)) calc(2*var(--r)) radial-gradient(#000 70%,#0000 72%);
    --_g:conic-gradient(at calc(100% - var(--r)) var(--r),#0000 25%,#000 0);
    --_d:(var(--s) + var(--r));
    mask:
        calc(100% - var(--_d) - var(--x)) 0 var(--_m),
        100% calc(var(--_d) + var(--y)) var(--_m),
        radial-gradient(var(--s) at 100% 0,#0000 99%,#000 calc(100% + 1px)) 
        calc(-1*var(--r) - var(--x)) calc(var(--r) + var(--y)),
        var(--_g) calc(-1*var(--_d) - var(--x)) 0,
        var(--_g) 0 calc(var(--_d) + var(--y));
    mask-repeat: no-repeat;
}

.top-left {
    --_m:/calc(2*var(--r)) calc(2*var(--r)) radial-gradient(#000 70%,#0000 72%);
    --_g:conic-gradient(at var(--r) var(--r),#000 75%,#0000 0);
    --_d:(var(--s) + var(--r));
    mask:
        calc(var(--_d) + var(--x)) 0 var(--_m),
        0 calc(var(--_d) + var(--y)) var(--_m),
        radial-gradient(var(--s) at 0 0,#0000 99%,#000 calc(100% + 1px)) 
        calc(var(--r) + var(--x)) calc(var(--r) + var(--y)),
        var(--_g) calc(var(--_d) + var(--x)) 0,
        var(--_g) 0 calc(var(--_d) + var(--y));
    mask-repeat: no-repeat;
}

.bottom-left {
    --_m:/calc(2*var(--r)) calc(2*var(--r)) radial-gradient(#000 70%,#0000 72%);
    --_g:conic-gradient(from 180deg at var(--r) calc(100% - var(--r)),#0000 25%,#000 0);
    --_d:(var(--s) + var(--r));
    mask:
        calc(var(--_d) + var(--x)) 100% var(--_m),
        0 calc(100% - var(--_d) - var(--y)) var(--_m),
        radial-gradient(var(--s) at 0 100%,#0000 99%,#000 calc(100% + 1px)) 
        calc(var(--r) + var(--x)) calc(-1*var(--r) - var(--y)),
        var(--_g) calc(var(--_d) + var(--x)) 0,
        var(--_g) 0 calc(-1*var(--_d) - var(--y));
    mask-repeat: no-repeat;
}

.bottom-right {
    --_m:/calc(2*var(--r)) calc(2*var(--r)) radial-gradient(#000 70%,#0000 72%);
    --_g:conic-gradient(from 90deg at calc(100% - var(--r)) calc(100% - var(--r)),#0000 25%,#000 0);
    --_d:(var(--s) + var(--r));
    mask:
        calc(100% - var(--_d) - var(--x)) 100% var(--_m),
        100% calc(100% - var(--_d) - var(--y)) var(--_m),
        radial-gradient(var(--s) at 100% 100%,#0000 99%,#000 calc(100% + 1px)) 
        calc(-1*var(--r) - var(--x)) calc(-1*var(--r) - var(--y)),
        var(--_g) calc(-1*var(--_d) - var(--x)) 0,
        var(--_g) 0 calc(-1*var(--_d) - var(--y));
    mask-repeat: no-repeat;
}





@media (max-width: 480px) {
    nav {
        font-size: 0.8rem;
    }

    /* nav > button {
        padding: 5px;
    } */

    img {
        max-width: 100%; /* Ensure images fit ultra-small screens */
    }
}
>>>>>>> 8a9ccd4e90e406eb906e6141f8361d543e422bf3
