
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    padding: 20px;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    text-align: inherit;
    font: inherit;
    color: inherit;
    line-height: inherit;
    cursor: pointer;
}

nav {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center; 
    padding: 10px;
    background-color: transparent;
    flex-wrap: wrap;
    margin-top: 20px; 
}

nav > button {
    position: relative;
    cursor: pointer;
    aspect-ratio: 1 / 1;
    display: grid;
    place-content: center;
    width: 4rem;
    height: 4rem;
    padding: 0.25rem;
    border-radius: 9999px;
    border: 2px solid rgb(3, 105, 161);
    background-repeat: no-repeat;
    transition: background-size 0.3s ease; /* Smooth transition */
}

nav > button::before {
    content: '';
    position: absolute;
    inset: 0;
    border: 2px solid rgb(3, 105, 161);
    border-radius: 9999px;
    transition: all 0.3s;
    z-index: 10;
}

nav > button:hover::before {
    inset: 35% -0.5rem 35% -0.5rem;
    background-color: rgb(202, 229, 244);
}

nav > button::after {
    content: attr(title);
    position: absolute;
    inset: 0;
    transition: opacity 0.3s 150ms, translate 0.3s 150ms;
    z-index: 10;
    display: grid;
    place-content: center;
    text-wrap: nowrap; 
    font-size: 0.9rem;
    opacity: 0;
    translate: 0 10px;
    color: inherit;





}

nav > button:hover::after {
    opacity: 1;
    translate: 0;
    font-size: 1.1rem;
    color: rgb(253, 77, 38);



    
}

nav > .home-btn > svg {
    width: 3rem;
    border-radius: 1px;
    color: transparent; /* Change to the desired color for the home icon */
}

nav > .about-btn > svg {
    width: 3rem;
    color: #422622; /* Change to the desired color for the about icon */
}

nav > .services-btn > svg {
    width: 3rem;
    color: #e67e22; /* Change to the desired color for the services icon */
}

nav > .contact-btn > svg {
    width: 3rem;
    color: #c0392b; /* Change to the desired color for the contact icon */
}

nav > .home-btn {
    background-image: url('pumkin.png');
    background-position: center;
    background-size: cover;
    border: 2px solid #3E2723;
}

nav > .about-btn {
    background-image: url('leaf.png');
    background-position: center;
    background-size: cover;
}

nav > .services-btn {
    background-image: url('fire.png');
    background-position: center;
    background-size: cover;
}

nav > .contact-btn {
    background-image: url('bell.png');
    background-position: center;
    background-size: cover;
}

nav > button:hover {
    background-size: 110%;
}

nav > .home-btn:hover {
    background-color: #2980b9;
}

nav > .about-btn:hover {
    background-color: #27ae60;
}

nav > .services-btn:hover {
    background-color: #e67e22;
}

nav > .contact-btn:hover {
    background-color: #c0392b;
}
